@backgrounds-folder: "../assets/backgrounds/";

article {
  &.interrogation {
    background-color: #69f;
    background-image: url("@{backgrounds-folder}interrogation.jpg");

    .page-width {
      background-image: url("@{backgrounds-folder}interrogation.blur.jpg");
    }
  }
  
  &.lab-break {
    background-color: #369;
    background-image: url("@{backgrounds-folder}lab-break.jpg");

    .page-width {
      background-image: url("@{backgrounds-folder}lab-break.blur.jpg");
    }
  }

  &.blackout {
    background-color: #123;
    background-image: url("@{backgrounds-folder}blackout.jpg");

    .page-width {
      background-image: url("@{backgrounds-folder}blackout.blur.jpg");
    }
  }

  &.droid {
    background-color: #396;
    background-image: url("@{backgrounds-folder}droid.jpg");

    .page-width {
      background-image: url("@{backgrounds-folder}droid.blur.jpg");
    }
  }
}