pre.
  {$robot|false}
  +

#act1
  article.interrogation
  p I can already tell this is going to be an {~interesting|unusual} day the second I put my hand on the door handle.
  p As I enter the room, a sudden eerie silence hits me right in the face, as if someone just hit the pause button on the {~universe|world}. She just sits there like a lifeless doll. No expression on her face, not even blinking her eyes as I sit down in front of her. Her clothes are unusually {~ordinary|nondescript} to give even a hint of what type of person she is.
  p I glance down at the blank clipboard. We have absolutely nothing on her. I just know it is my job to question her.
  ul
    li
      p "...Hello...?"
      pre ..+
  p Her eyes instantly snap to mine as if a switch suddenly flipped in her brain. Do I have her attention now?
  p If so... Where do I even start?
  ul
    li
      p "What's your name?"
      pre ..+
    li
      p "Where did you come from?"
      pre ..+
    li
      p "Are you okay?"
      pre ..+
  p Her eyes begin to dart around as the cogs seem to slowly whir into motion. She slowly opens her mouth as if to respond.
  p "I... I... uhmm..."
  p She looked back at me with a {~puzzled|worried} gaze.
  p "I... don't... know...?"
  p That just raises even more questions. It seems I've got my work cut out for me. At least now I know she can talk. But there's something else about her that I can't quite put my finger on.
  ul
    li
      p She seems so helpless.
      pre #act2a
    li
      p She seems so distant.
      pre #act2b            

#act2a
#act2b

#act3aa
#act3ab
#act3ba
#act3bb
