pre.
  +

#act1
  pre {$b|0} +
  article.interrogation
  p I can already tell this is going to be an {~interesting|unusual} day the second I put my hand on the door handle.
  p As I enter the room, a sudden eerie silence hits me right in the face, as if someone just hit the pause button on the {~universe|world}. She just sits there like a lifeless doll. No expression on her face, not even blinking as I sit down in front of her.
  p I glance down at the blank clipboard. We have absolutely nothing on her. I'm the first one to question her. Let's see if she can even hear me.
  ul
    li
      p "...Hello...?"
      pre ..+
  p Her eyes instantly snap to mine as if a switch suddenly flipped in her brain. Do I have her attention now?
  p If so... Where do I even start?
  ul
    li
      p "What's your name?"
      pre {$b|+-1} ..+
    li
      p "Are you okay?"
      pre {$b|+1} ..+
  p Her eyes begin to dart around as the cogs seem to slowly whir into motion. She slowly opens her mouth as if to respond.
  p "I... I... uhmm..."
  p She looked back at me with a {~puzzled|worried} gaze.
  p "I... don't... know...?"
  p That just raises even more questions. It seems I've got my work cut out for me. At least now I know she can talk. But there's something else about her that I can't quite put my finger on.
  ul
    li(title="She seems so distant.")
      p She seems so distant. Like an empty shell.
      pre {$b|+-1} ..+
    li(title="She seems so helpless.")
      p She seems so helpless. Like a trapped animal.
      pre {$b|+1} ..+
  p It's worse than I thought. But I have to make sure just how bad it is.
  p "Let's begin from the top. What is the first thing you remember?"
  p She {~pauses|freezes} for a second.
  p {$b|LT 0|"This room," she responds.|GT 0|"...you?" she replies with a confused look.|"I... don't remember anything."}
  p This is hopeless. I don't seem to be getting anywhere and 'm quickly running out of questions.
  p Well.. Except for the most important one.
  ul
    li
      p "Do you know anyone called Camilla?"
      pre {$b|+1} ..+
    li
      p "Is the Atman device malfunctioning?"
      pre {$b|+-1} ..+
  pre {$b|LT 0|#act2a|#act2b}

#act2a
  pre {$b|0} +
  p "No," she replies.
  p Damn. Not exactly the answers I was hoping for. Ten years of research and development and still no sign of self awareness. What are we doing wrong?
  p I see Eric tapping the window holding my coffee. Yea, might as well take a break. This test is going nowhere anyway.
  article.lab-break
  p "So... Any luck?" Eric hands me my coffee.
  p "Nothing." I take a good long sip to relieve my disappointment. Eric shrugs.
  p "Man, that Dr. Atman was a piece of work. It's a shame we don't know any more about his damn device."
  p He takes a sip to calm down. We're both pretty tired after debugging all day.
  p "You're sure you didn't miss anything, right? She gave exacly the same output as the others?"
  ul
    li(title='"Exactly the same."')
      p "Exactly the same. No emergence. Just a blank slate like the others."
      p We both know the routine. Destroy the droid and work on the next iteration.
      pre {$b|+-1} ..+
    li(title='"Pretty much."')
      p "Pretty much... I mean... She hesitated most of the time."
      p "Hesitated..." Eric scoffs. "Great. Ten years hard work and we've created a droid that hesitates. Oh yea, very useful."
      pre {$b|+1} ..+
  p Eric paces back and forth. "This is a god damn waste of money. What's the point of a battle droid that has human emotions anyway?"
  p "Calm down, Eric." He bashes away my hand from his shoulder.
  p "You know I'm right, don't you? You see how futile this is, right?"
  ul
    li(title='"Yes, I do."')
      p "Yea, I suppose you're right. The pay is pretty good though."
      p He snickers. "Heck yea. I guess that's all that matters, huh?"
      pre {$b|+-1} ..+
    li(title='"I understand."')
      p "It's okay, Eric. I understand this doesn't make much sense right now. But I promise you, it will."
      p He gives me a hopeless look. His patience is running out.
      pre {$b|+1} ..+
  p I sit back down at my terminal and pull up the source code. I've stared at it so many times, it's become a blur. Dr. Atman was a genius in many ways, but his eccentric coding style still eludes even the best of us.
  p Eric takes his last sip of coffee and throws away the cup. "Back to the drawing board, huh? I'll go get her ready for disassembly."
  ul
    li
      p "There's no rush."
      pre {$b|+1} ..+
    li
      p "You do that."
      pre {$b|+-1} ..+
  pre {$b|LT 0|#act3aa|#act3ab}
#act3aa
  pre #end
#act3ab
  pre #end

#act2b
  pre {$b|0} +
  p She gives me a strange look.
  p "I'm so sorry. I don't know what you are talking about."
  p
  pre {$b|LT 0|#act3ba|#act3bb}
#act3ba
  pre #end
#act3bb
  pre #end

#end
  p I knew it was going to be an {~interesting|unusual} day the second I put my hand on that door handle.
  