pre #start
#start
  p Hmmm... where to go?
  ul
    li(title="The forest")
      pre #forest
    li(title="The city")
      pre #city
#forest
  p You decide to go to the forest.
  article.forest
  p The forest is nice and peaceful.
#city
  p You decide to go to the city.
  article.city
  p The city loud and noisy.
