include _phug
include _layout
  noscript You need to enable JavaScript in order to play this game.
  article.page-width
    section#description
      h1= appTitle
      p= description
    section#credits
      :markdown-it
        Credits
        -------
        Code and story by [codeartistic.ninja](http://the.codeartistic.ninja/)
        
        Background photos from [Nesnad](https://commons.wikimedia.org/wiki/File:Japanese_police_interrogation_room_-_movie_set_-_October_2014.jpg), [Michael Pereckas](https://www.flickr.com/photos/beigephotos/2282320621/), [Rafael Vianna Croffi](https://www.flickr.com/photos/rvc/6360419733/), [Matt Feifarek](https://www.flickr.com/photos/mad_city_bastard/2550528319/) and [Vit Goff](https://www.flickr.com/photos/viticusgoff/4846052562/)

        [Source on GitHub](https://github.com/codeartisticninja/adaptor)
  #story: include ./assets/story/adaptor.pug
  #display
    article
      .page-width
        section.passage
          
  script(type="text/javascript", src="script/main.js")
