include _phug
include _layout
  noscript You need to enable JavaScript in order to play this game.
  article.page-width
    section#description
      h1= appTitle
      p= description
    section#credits
      :markdown-it
        Credits
        -------
        Made by [codeartistic.ninja](http://the.codeartistic.ninja/)
        Background photos from [unsplash.com](https://unsplash.com/)
  #display
    article
      .page-width
        section.passage
          #story: include ./assets/story/braindump.pug
  script(type="text/javascript", src="script/main.js")
